        /* Estilo para la página de inicio de sesión */
        ion-content.login-page {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Ajusta la altura al 100% del viewport */
            background-color: #0a192f; /* Color de fondo azul */
        }
        
        /* Estilo para la caja de inicio de sesión */
        .login-box {
            background-color: rgb(22, 35, 170); /* Fondo blanco para la caja */
            padding: 20px;
            border-radius: 10px; /* Bordes redondeados */
            box-shadow: 0px 0px 10px rgba(176, 182, 7, 0.931); /* Sombra suave */
            max-width: 300px; /* Ancho máximo de la caja */
            width: 70%; /* Ancho de la caja del 80% del contenedor */
            text-align: center;
            margin-top: 0px;
            margin-left: auto; /* Mover hacia la derecha */
            margin-right: auto; /* Mover hacia la derecha */
        }
        
        /* Estilo para el botón de inicio de sesión */
        .login-button {
            margin-top: 20px;
            background-color: rgb(22, 35, 170);
            color: white; /* Color de texto blanco */
        }

        /* Estilo para la imagen de inicio de seccion*/
        .login-imagen_1{
            max-width: 350px;
            width: 70%;
            margin-top: 5%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5%
        }
        .login-imagen{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

        

          
