<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
    <ion-back-button slot="start" defaultHref="/"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="login-box">
    <form [formGroup]="forrmularioPassRest">
      <ion-item>
        <ion-label position="floating">Ingrese Contraseña Actual</ion-label>
        <ion-input formControlName="mdl_actual"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Ingrese Contraseña Nueva</ion-label>
        <ion-input formControlName="mdl_nueva"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirme Contraseña Nueva</ion-label>
        <ion-input formControlName="mdl_confirmacion"></ion-input>
      </ion-item>
      <ion-button (click)="cambiarContrasena()" shape="round" expand="full" class="passrest-button">Cambiar Contraseña</ion-button>
    </form>
  </div>
    


  







  
</ion-content>
