<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nuevo usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item class="ion-margin-top">
    <ion-input [(ngModel)]="mdl_usuario" label="Usuario" labelPlacement="floating" placeholder="Ingrese su Usuario"></ion-input>
  </ion-item>
  <ion-item class="ion-margin-top">
    <ion-input [(ngModel)]="mdl_contrasena" label="Contraseña" labelPlacement="floating" placeholder="Ingrese su Contraseña"></ion-input>
  </ion-item>
  <ion-item class="ion-margin-top">
    <ion-input [(ngModel)]="mdl_nombre" label="Nombre" labelPlacement="floating" placeholder="Ingrese su Nombre"></ion-input>
  </ion-item>
  <ion-item class="ion-margin-top">
    <ion-input [(ngModel)]="mdl_apellido" label="Apellido" labelPlacement="floating" placeholder="Ingrese su Apellido"></ion-input>
  </ion-item>
<ion-button class="degradado boton ion-margin-top" expand="block">Registrar Datos</ion-button>
</ion-content>
